#!/bin/bash
[ -f .env ] && source .env


export BUCKET="industrial-taxonomy"
export METAFLOW_PROFILE=ds-cookiecutter
export METAFLOW_DEFAULT_PACKAGE_SUFFIXES=".py,.txt,.md,.yaml"
# Workaround until https://github.com/Netflix/metaflow/pull/972 merged
export CONDA_SAFETY_CHECKS=disabled

# Automatically activate conda environment (if exists)
if [ -f .cookiecutter/state/conda-create ];
then
    # shellcheck disable=SC1091
    [ -n "$CONDA_EXE" ] \
    && . "$(dirname "$(dirname "$CONDA_EXE")")/etc/profile.d/conda.sh" \
    && conda activate "industrial_taxonomy" > /dev/null 2>&1  \
    || echo "WARNING: industrial_taxonomy environment could not be automatically activated.";
fi
