numpy==1.21
scipy
pandas
matplotlib
altair
metaflow
tqdm
toolz
filelock
typer
sh
xlrd
openpyxl
metaflow_extensions@git+https://github.com/nestauk/metaflow_extensions@25_fix_project_env
pyyaml
altair-saver
webdriver_manager
selenium
geopandas
networkx
umap-learn
sklearn
jupyterlab
ratelim
statsmodels
tabulate
